@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-02-14 14:27:59
 * @version 1.0
 */

/*
 * Co-Trip Navtab
 * --------------------------------------------------
 */
.nav > .nav-setting > a {
  color: #555555;
}
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

/*
 * Co-Trip Feed
 * --------------------------------------------------
 */
.CT-feed-item {
  border-bottom: 1px solid rgb(228, 228, 228);
  padding: 15px;
}

/*
 * Co-Trip Sidebar
 * --------------------------------------------------
 */
#sidebar {
  
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}