body {
  display: block;
  position: relative;
}
html, body {
  height: 100%;
}

.background {
  -webkit-filter: grayscale(70%);
  z-index: 100;
  background-size: cover;
  background-color: rgb(39, 143, 202);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow:hidden;
  position:absolute;
  left:0;
  top:0;
  display: none;
}
#main {
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
  margin: 0 auto -80px;
  z-index: 300;
  position: relative;
}
#main-heading {
  position: fixed;
  max-width: 315px;
  width: 315px;
  top: 130px;
  right: 170px;
}
#main-heading h1 {
  color: white;
}
#login-panel {
  max-width: 315px;
  width: 315px;
  max-height: 325px;
  height: 325px;
  position: fixed;
  top: 200px;
  right: 170px;
  border-radius: 8px;
}
.panel {
  border-width: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 30px auto;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: 18px;
}
.form-login input[type="password"] {
  margin-bottom: 30px;
}
#button-group {
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
}
#button-login, #button-signup {
  width: 96px;
  max-width: 96px;
}
#button-login {
  margin-left: auto;
  margin-right: 10px;
}
#button-signup {
  margin-left: 10px;
  margin-right: auto;
}
#footer {
  height: 80px;
  min-height: 80px;
  border-width: 1px;
  border-top: 1px solid rgb(248, 248, 248);
  background-color: rgba(255, 255, 255, 0.47);
  position: relative;
  left: 0;
  right: 0;
  z-index: 1029;
}
#footer > div > p {
  margin-top: 27px;
}