body {
  /*background-image: url(../img/2.jpg);*/
  background-size: cover;
  background-color: rgb(39, 143, 202);
  background-repeat: no-repeat;
  display: table;
  position: relative;
}

#footer {
  height: 80px;
  min-height: 80px;
  border-width: 1px;
  background-color: rgba(248, 248, 248, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1029;
}

#footer > div > p {
  margin-top: 27px;
}